- name: Config traefik
  ansible.builtin.include_tasks:
    file: traefik.yaml
    apply:
      tags:
        - traefik
  when: docker.traefik

- name: Config homepage
  ansible.builtin.include_tasks:
    file: homepage.yaml
    apply:
      tags:
        - homepage
  when: docker.homepage

- name: Config Plex
  ansible.builtin.include_tasks:
    file: plex.yaml
    apply:
      tags:
        - plex
  when: docker.plex
